<main class="bx--text-align-center bx--full-width bx--full-height">
    <section class="bx--full-width bx--margin-bottom-1">
        <h2>Dynamic Tables</h2>
    </section>
    <ng-container *ngIf="!isLoading; else isLoadingTemplate">
        <section class="bx--max-width-70-percent bx--margin-auto">
            <ng-container *ngIf="!managerSelected && !isLoading">
                <div class="bx--full-width bx--full-height">
                    <ibm-table-container>
                        <ibm-table [model]="managersTableModel" (rowClick)="handleManagerRowClick($event)"></ibm-table>
                    </ibm-table-container>
                </div>
            </ng-container>
            <ng-container *ngIf="managerSelected && !isLoading">
                <div class="bx--full-width bx--full-height">
                    <ibm-table-container>
                        <ibm-table [model]="teamTableModel"></ibm-table>
                    </ibm-table-container>
                </div>
                <div class="bx--padding-1 bx--text-align-center">
                    <button type="button" ibmButton (click)="handleBackToManagersList()">Back to Managers List</button>
                </div>
            </ng-container>
        </section>
    </ng-container>
    <ng-template #isLoadingTemplate>
        <ibm-loading [isActive]="true" [overlay]="true"></ibm-loading>
    </ng-template>
</main>