::ng-deep .invalid-tag-input > ibm-loading {
    right: 2rem !important;
}

.tag-input {
  position: relative;

  .dark-tag-input {
    background-color: #f4f4f4;
  }

  .light-tag-input {
    background-color: #ffffff;
  }

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 7px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    max-width: 75%;
    overflow-x: auto;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */

    &::-webkit-scrollbar {
      /* WebKit */
      width: 0;
      height: 0;
    }
  }

  .tag {
    background-color: #e5e0df;
    color: #3c3838;
    padding-left: 5px;
    white-space: nowrap;
    transition: 0.1s ease background;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.34;
    letter-spacing: 0.32px;
    border-radius: 0.9375rem;
  }

  input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #8d8d8d;
    outline: 2px solid transparent;
    outline-offset: -2px;
    &:focus {
        outline: 2px solid #0f62fe;
        outline-offset: -2px;
    }
  }

  .invalid-tag-input:not(:focus) {
    outline: 2px solid #da1e28;
    outline-offset: -2px;
  }

  .invalid-tag-input-icon {
    position: absolute;
    top: 50%;
    right: 1rem;
    fill: #da1e28;
    transform: translateY(-50%);
  }

  .load-tag-input-icon {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    ::ng-deep .bx--loading--small {
        width: 1.5rem;
        height: 1.5rem;
    }
  }

  .delete {
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 0;
    margin: 0 0 0 0.125rem;
    color: #3c3838;
    background: none;
    outline: none;
    cursor: pointer;
    transition: background-color 70ms cubic-bezier(0.2, 0, 0.38, 0.9), box-shadow 70ms cubic-bezier(0.2, 0, 0.38, 0.9);
    &:hover {
        background-color: #c6c6c6;
    }
  }
}

.bx--tag-input-error {
    text-align: left;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.34;
    letter-spacing: 0.32px;
    max-height: 0;
    margin: 0.25rem 0 0;
    color: red;
}
