.pokemon-name-container {
    background-color: lightgray;
    padding: 2rem;
}

.pokemon-details-container {
    width: 80%;
}

.pokemon-pictures-card-container {
    padding: 0.5rem;
}

.pokemon-data-card-container {
    padding: 0.5rem;
}

.pokemon-game-indices-list {
    padding-left: 1.5rem;
}

.options-buttons-container {
    width: 79%;
}

.card {
    border-radius: 5px;
    box-shadow: 0px 1px 20px 1px hsla(213, 33%, 68%, .6);
    max-width: 50rem;
    height: 30rem;
    padding: 2rem;
    overflow-y: scroll;
}

.pokemon-picture-container {
    width: 10rem;
    height: 10rem;
}