<ng-container *ngIf="pokemon$ | async as pokemon">
    <section style="text-align: center; background-color:lightgray; padding: 2rem;">
        <h2>{{ pokemon.name | uppercase }}</h2>
    </section>
    <section style="display: flex; margin: auto; width: 80%;">
        <div class="pokemon-pictures-card-container" style="width: 50%; padding: 0.5rem;">
            <div class="card">
                <div style="text-align: center;">
                    <h3>Pictures</h3>
                </div>
                <ng-container *ngIf="!!pokemon.sprites">
                    <div ibmRow>
                        <ng-container *ngFor="let sprite of spritesList;">
                            <div *ngIf="!!pokemon.sprites[sprite]" class="pokemon-picture-container bx--col-lg-3">
                                <img [src]="pokemon.sprites[sprite]" alt="pokemon picture {{sprite}}">
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="pokemon-data-container" style="width: 50%; padding: 0.5rem;">
            <div class="card">
                <h4>Pokemon Id: {{ pokemon.id }}</h4>
                <div ibmRow>
                    <div ibmCol [columnNumbers]="{'lg':6, 'md': 4, 'sm': 2}">
                        <ng-container *ngIf="!!pokemon.game_indices">
                            <div>
                                <h4>Games where it appears: {{ pokemon.game_indices.length }}</h4>
                                <div style="padding-left: 1.5rem;">
                                    <ol ibmList>
                                        <ng-container *ngFor="let game of pokemon.game_indices;">
                                            <li ibmListItem>{{ game.version.name | uppercase }}</li>
                                        </ng-container>
                                    </ol>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                    <div ibmCol [columnNumbers]="{'lg':6, 'md': 4, 'sm': 2}">
                        <ng-container *ngIf="!!pokemon.height">
                            <div style="margin-bottom: 1rem;">
                                <h4>Height: {{ pokemon.height }} dm</h4>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="!!pokemon.weight">
                            <div style="margin-bottom: 1rem;">
                                <h4>Weight: {{ pokemon.weight }} hg</h4>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="!!pokemon.abilities">
                            <div style="margin-bottom: 1rem;">
                                <h4>Abilities: {{ pokemon.abilities.length }}</h4>
                                <div style="padding-left: 1rem;">
                                    <ul ibmList>
                                        <ng-container *ngFor="let ability of pokemon.abilities;">
                                            <li ibmListItem>{{ ability.ability.name | uppercase }}</li>
                                        </ng-container>
                                    </ul>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="!!pokemon.moves">
                            <div style="margin-bottom: 1rem;">
                                <h4>Moves: {{ pokemon.moves.length }}</h4>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="!!pokemon.stats">
                            <div style="margin-bottom: 1rem;">
                                <h4>Stats:</h4>
                                <div style="padding-left: 1rem;">
                                    <ul ibmList>
                                        <ng-container *ngFor="let stat of pokemon.stats">
                                            <li ibmListItem>
                                                <strong>{{ stat.stat.name | uppercase }}:</strong> {{ stat.base_stat }}
                                            </li>
                                        </ng-container>
                                    </ul>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section style="margin: auto; width: 79%;" *ngIf="!!pokemon.location_area_encounters">
        <div style="width: 100%">
            <button
                ibmButton="secondary"
                type="button"
                (click)="handleReturnToLanding()"
                style="width: 50%; max-width: 50%; text-align: center;">
                    Back
            </button>
            <button
                ibmButton
                type="button"
                (click)="handleOpenLocationsModal(pokemon.location_area_encounters)"
                style="width: 50%; max-width: 50%; text-align: center;">
                    See encounter locations
            </button>
        </div>
    </section>
</ng-container>

