<ng-container *ngIf="pokemon$ | async as pokemon">
    <section class="pokemon-name-container bx--text-align-center">
        <h2>{{ pokemon.name | uppercase }}</h2>
    </section>
    <section class="pokemon-details-container bx--display-flex bx--margin-auto">
        <div class="pokemon-pictures-card-container bx--half-width-percent">
            <div class="card">
                <div class="bx--text-align-center">
                    <h3>Pictures</h3>
                </div>
                <ng-container *ngIf="!!pokemon.sprites">
                    <div ibmRow>
                        <ng-container *ngFor="let sprite of spritesList;">
                            <div *ngIf="!!pokemon.sprites[sprite]" class="pokemon-picture-container bx--col-lg-3">
                                <img [src]="pokemon.sprites[sprite]" alt="pokemon picture {{sprite}}">
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="pokemon-data-card-container bx--half-width-percent">
            <div class="card">
                <h4 class="pokemon-id">Pokemon Id: {{ pokemon.id }}</h4>
                <div ibmRow>
                    <div ibmCol [columnNumbers]="{'lg':6, 'md': 4, 'sm': 2}" class="pokemon-game-indices-list-container">
                        <ng-container *ngIf="!!pokemon.game_indices">
                            <div>
                                <h4>Games where it appears: {{ pokemon.game_indices.length }}</h4>
                                <div class="pokemon-game-indices-list">
                                    <ol ibmList>
                                        <ng-container *ngFor="let game of pokemon.game_indices;">
                                            <li ibmListItem>{{ game.version.name | uppercase }}</li>
                                        </ng-container>
                                    </ol>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                    <div ibmCol [columnNumbers]="{'lg':6, 'md': 4, 'sm': 2}">
                        <ng-container *ngIf="!!pokemon.height">
                            <div class="bx--margin-bottom-1">
                                <h4>Height: {{ pokemon.height }} dm</h4>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="!!pokemon.weight">
                            <div class="bx--margin-bottom-1">
                                <h4>Weight: {{ pokemon.weight }} hg</h4>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="!!pokemon.abilities">
                            <div class="bx--margin-bottom-1">
                                <h4>Abilities: {{ pokemon.abilities.length }}</h4>
                                <div class="bx--padding-left-1">
                                    <ul ibmList>
                                        <ng-container *ngFor="let ability of pokemon.abilities;">
                                            <li ibmListItem>{{ ability.ability.name | uppercase }}</li>
                                        </ng-container>
                                    </ul>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="!!pokemon.moves">
                            <div class="bx--margin-bottom-1">
                                <h4>Moves: {{ pokemon.moves.length }}</h4>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="!!pokemon.stats">
                            <div class="bx--margin-bottom-1">
                                <h4>Stats:</h4>
                                <div class="bx--padding-left-1">
                                    <ul ibmList>
                                        <ng-container *ngFor="let stat of pokemon.stats">
                                            <li ibmListItem>
                                                <strong>{{ stat.stat.name | uppercase }}:</strong> {{ stat.base_stat }}
                                            </li>
                                        </ng-container>
                                    </ul>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="options-buttons-container bx--margin-auto" *ngIf="!!pokemon.location_area_encounters">
        <div class="bx--full-width">
            <button
                ibmButton="secondary"
                type="button"
                (click)="handleReturnToLanding()"
                class="bx--max-half-width-percent bx--half-width-percent bx--text-align-center">
                    Back
            </button>
            <button
                ibmButton
                type="button"
                (click)="handleOpenLocationsModal(pokemon.location_area_encounters)"
                class="bx--max-half-width-percent bx--half-width-percent bx--text-align-center">
                    See encounter locations
            </button>
        </div>
    </section>
</ng-container>

