::ng-deep {
    .bx--lightblue-bg {
        background-color: lightblue;
    }

    .bx--full-width {
        width: 100%;
    }

    .bx--full-height {
        height: 100%;
    }

    .bx--margin-bottom-1 {
        margin-bottom: 1rem;
    }
}