<section class="testing-page--container">
    <div class="bx--margin-auto">
        <section class="bx--text-align-center">
            <h2>Testing Components</h2>
        </section>
        <section class="bx--padding-1 bx--text-align-center">
            <ul>
                <ng-container *ngFor="let componentItem of componentsList">
                    <li class="bx--margin-bottom-1">
                        <a [routerLink]="componentItem.url">
                            {{ componentItem.name }}
                        </a>
                    </li>
                </ng-container>
            </ul>
        </section>
    </div>
</section>