<div>
    <div class="bx--text-align-center bx--padding-1">
        <h2>Pokemon List</h2>
    </div>
    <ng-container *ngIf="pokemonList$ | async as pokemonList">
        <div class="pokemon-list-container bx--margin-auto">
            <div class="pokemon-list">
                <ibm-tile-group (selected)="handleSelected($event)" [multiple]="false">
                    <ibm-selection-tile
                        *ngFor="let pokemon of pokemonList"
                        [value]="pokemon.url">
                            {{ pokemon.name | uppercase }}
                    </ibm-selection-tile>
                </ibm-tile-group>
            </div>
        </div>
    </ng-container>
</div>